#about.bg-dark.text-white.py-1.mb-4.pl-3.pl-lg-5
  h1.header &nbsp
.about-text.px-3.px-lg-5.py-3.my-5
  .media
    .media-body
      h2.light-header.text-uppercase.py-2(style='border:none:') Why choose us?
      p.text-justify.text-md-left.pl-1.mr-5
        | When somebody joins the No.4 Commando unit they're already guaranteed a 
        strong unique, immersive experience
        | . 
        br 
        | Fight the Axis powers and save the free world using the 
        strong historical gear, weapons and vehicles 
        | of the WW2 Era. Gun down entire enemy squads behind your Bren gun, or sneak up on an enemy patrol with your SMG, or jump out a plane into the most iconic scenarios whilst pushing deep behind enemy lines. 
        p.lead The possibilities are endless. 
        | On one side the unit is supported by skilled and fast-growing developers, on the other hand it also has great mission makers and 
        strong custom content creators
        | , who make for an extra-degree of immersion when it comes to staging an operation.
    img.d-flex.mx-3.align-self-center.hidden-sm-down(src="img/no4.png", alt="alt" width='250' height='250')
