#donation.bg-dark.text-white.py-1.pl-3.pl-lg-5
  h1.header Helping the unit
#donation-text.about-text.mb-5.pt-3.pb-0.px-3.px-lg-5
  .row.pl-5
    h1.mt-3 Are you interested in supporting our war efforts?
    p.lead Any of these steps can help us out in the fight against the axis of Evil:
  .row
    .col-lg-7
      br
      ul(style='list-style: none;')
        li
          .media
            img.d-flex.mr-3(width='20', height='20', src='img/icons/join.svg', alt='Generic placeholder image')
            .media-body
              h5.mt-0 ——  Recruit people
              p
                | Word of mouth is the best weapon in this case! Spread the word about the commandos and get your friends involved. The more we are the sooner we can put an end to the war.
        br
        li
          .media
            img.d-flex.mr-3(width='20', height='20', src='img/icons/QR_icon.svg', alt='Generic placeholder image')
            .media-body
              h5.mt-0 ——  Give your input
              p
                | Become a developer, mission builder, moderator or leader! Share your skills with us and just be creative: every little helps. The German war machine has the best tools at its desposal, we want the best to counter that!
        br
        li
          .media
            img.d-flex.mr-3(width='20', height='20', src='img/icons/pile.svg', alt='Generic placeholder image')
            .media-body
              h5.mt-0 ——  Donate
              p
                | Our reserves of fuel and supplies are running low: purchase a 
                strong War Bond
                |  in order to help us defeating the Nazi war machine. Investing in war bonds means we can have access to better gear and sustain our infrastructures!
        .w-100.mt-3
          include ./components/donate
    .col-lg-5.hidden-md-down
      img#spitfire.img.img-fluid(src='img/spitfire.png', alt='')
  .col-10.mr-auto.pl-5.mt-3.text-left
    p Thanks to our committed community and the generous donators we can afford the maintenance of our servers, allowing us also to further expand the unit with additional contents and new opportunities for everyone, always aiming to provide our users with the best possible experience.      
    
