#donationTiers.bg-dark.text-white.py-1.pl-3.pl-lg-5
  h1.header Donators Rankings
#donationTiers-text.about-text.mb-5.pt-3.pb-0.px-3.px-lg-5
  .row.pl-5
    h1.mt-3 Premium content awaits you!
    br
    p.lead In order to reward and differentiate those who decide to donate to our cause, we established donator rankings, making exclusive lend-lease equipment available, which can be used by them during our operations:
  .row.px-5.my-4
    .col-7.px-0
      .futura-pt.text-outline(style="font-size: 5em; color: #f3d462; line-height: 60px") GOLDEN TIER
      .lead For those who donate 
        strong £15 
        | or more per month.
      br
      p You will have access to the following weapons:
      ul.ml-3.weapons-list.golden
        li Rifle No.5 Mk. I 
          small (Lee–Enfield Jungle Carbine)
        li M3 Grease Gun
        li M1918 B.A.R. 
          small (BAK)
        li Welrod Mk. II
      p Along with all the gloves and scarfs that there are!
    .col-5.px-0
      img.img.img-fluid(src="/img/gold.png")
  hr.bg-dark(style='margin-bottom: 1px')
  hr.bg-dark(style='margin-top: 1px')
  .row.px-5.my-4
    .col-7.px-0.d-flex
      .align-self-center
        .futura-pt.text-outline(style="font-size: 5em; color: #ccd0dd; line-height: 60px") SILVER TIER
        .lead For those who donate 
          strong £10 
          | or more per month.
        br
        p You will have access to the following weapons:
        ul.ml-3.weapons-list.silver
          li M1928 Thompson 
            small (with 50Rnds Magazine)
          li M1 Carbine
          li M1918 B.A.R.
    .col-5.px-0
      img.img.img-fluid(src="/img/silver.png" width='350')
  hr.bg-dark(style='margin-bottom: 1px')
  hr.bg-dark(style='margin-top: 1px')
  .row.px-5.my-4
    .col-7.px-0
      .futura-pt.text-outline(style="font-size: 5em; color: #f29962; line-height: 60px") BRONZE TIER
      .lead For those who donate 
        strong £5 
        | or more per month.
      br
      p You will have access to the following weapons:
      ul.ml-3.weapons-list.bronze
        li M1903 Springfield Rifle
        li Webley Revolver
    .col-5.px-0
      img.img.img-fluid(src="/img/bronze.png")
#donation-img.img.img-fluid.my-0.trans-img
