.container.px-0.py-0(style='box-shadow: none')
  .py-3.bg-inverse.text-white
    .col-md-5.text-sm-center.push-md-7.text-md-right.pr-lg-5
      small © 
        a(href='https://alessandroromanelli.herokuapp.com' target='_blank') 
          | Alessandro Romanelli 
        | 2017
