.container.px-0.py-0(style='box-shadow: none')
  .py-3.bg-dark.text-white
    .col-md-5.text-center.mx-auto
      small © 
        a(href='https://alessandroromanelli.herokuapp.com' target='_blank') 
          | Alessandro Romanelli 
        | 2017
