#join.bg-inverse.text-white.py-1.mt-0.pl-3.pl-lg-5
  h1.headline Join the unit
#join-img1.img.img-fluid.trans-img.mb-3
.about-text.px-3.px-lg-5
  .container-fluid.px-0
    .row
      .col-sm-8
        h4.py-2 Requirements:
        ol
          li.text-justify
            strong Age
            | : you must be at least 
            strong 16 years old
            | , anyone below that requires special acceptance into the unit;
          li.text-justify
            strong Attendance
            | : should be able to attend at least 
            strong two operations per week
            |  in a normal situation;
          li.text-justify
            strong Exclusivity
            | : applicants must not be part of any other ArmA Units upon joining;
      .col-sm-4
        h4.py-2 Contacts:
        ul.contacts.text-center.text-sm-left
          li.pl-3
            strong Cpt.
            a(href='http://steamcommunity.com/profiles/76561198045879060/', target='_blank') C. Foote
          br
          li.pl-3
            strong SMaj.
            a(href='http://steamcommunity.com/id/Hydefinition/', target='_blank') A. Hyde
          br
          li.pl-3
            strong SSgt.
            a(href='http://steamcommunity.com/id/0110180294', target='_blank') A. Roman
    .row
      .col.my-4
        hr
    .row
      .col-md-8
        h4.py-2 How to enlist:
        ol
          li
            | Contact one of the unit leaders by adding them on Steam or joining the Teamspeak server;
          br
          li A leader will carry out an interview with the applicant;
          br
          li Enter the unit:
          ul.pl-4
            li Accept the invite the to No.4 Steam Group;
            li
              | Change your name to a valid format (e.g. 
              em W. White
              | );
            li
              | Append the 
              strong [No.4]
              |  tag to your steam name;
            li
              | Download the 
              a(href='http://steamcommunity.com/sharedfiles/filedetails/?id=851312465', target='_blank') mod collection
              |  and 
              strong ask for access
              |  to our private mod;
          br
          li
            | Attend a Basic Combat Training (
            strong BCT
            | );
          br
          li Attend an unit operation.
        p.text-justify.pr-md-5
          | After going through all the steps listed above you'll be promoted and officially part of the Commandos: at this time you will be asked which position you'd like to have.
        p.text-justify.pr-md-5
          | If you would like to join our unit or make any enquiries into what we do then feel free to add one of our friendly leaders using Steam or join our Teamspeak at any time.
        p
      #useful.col-md-4.text-center.text-md-left
        h4.py-2.mb-4 Useful links:
        ul.pl-0
          li.pl-md-3.media.mb-4
            a.d-flex(href='http://steamcommunity.com/groups/No4Commando', target='_blank')
              img.mr-3(src='img/steam-square.svg', alt='')
              .media-body
                h3.lead.hidden-sm-down.my-auto Steam Group
          li.pl-md-3.media.mb-4
            a.d-flex(href='https://discord.gg/GxTEsRb', target='_blank')
              img.mr-3(src='img/discord.svg', alt='')
              .media-body
                h3.lead.hidden-sm-down.my-auto Discord Server
          li.pl-md-3.media
            a.d-flex(href='ts3server://85.236.101.154/?port=11727&nickname=Web Guest')
              img.mr-3(src='img/ts3.png', alt='')
              .media-body
                h3.lead.hidden-sm-down.my-auto Join Teamspeak 3
