#media.bg-inverse.text-white.py-1.pl-3.pl-lg-5
  h1.header MEDIA
#media-img.img.img-fluid.my-0.trans-img
#media-text.about-text.mb-5.pt-3.pb-0.px-3.px-lg-5
  br
  .row.text-center.rounded
    .col-6
      #video.bg-inverse.text-white.rounded.py-5.shiny-hover
        a(href="/videos")
          img.d-inline(src='img/vcamera.svg' width='50' height='50')
          h1 VIDEOS
    .col-6
      #screens.bg-inverse.text-white.rounded.py-5.shiny-hover
        a(href="/screenshots")
          img.d-inline(src='img/camera.svg' width='50' height='50')
          h1 IMAGES
