nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-inverse.fixed-top.container.pl-lg-5
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .navbar-brand
    img.d-inline-block.align-top(src='icons/favicon-32x32.png', width='32', height='32', alt='')
  #navbarNav.collapse.navbar-collapse
    block links
  div
    .pause.mr-4(onclick='togglePlayback()')
  a.navbar-brand.mx-auto.d-inline-block.align-top.float-md-right(href='https://arma3.com/', target='_blank')
    img(src='img/a3logo.png')
