nav.navbar.navbar-expand-sm.navbar-dark.fixed-top.container.p-0
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse.text-uppercase.d-flex
    block links
    .d-inline-flex.ml-auto
      .dropdown.align-self-center
        img#volumeControl.img.mr-4.dropdown-toggle(src='img/icons/vol3.svg' height='25' data-toggle="dropdown" aria-expanded='false')
        .dropdown-menu.dropdown-menu-right
          li.dropdown-item.d-flex.justify-content-end
            span.text-white
              strong SFX
            input#bgVol.ml-3.slider(type='range', min='0', max='40', step='0.5', value='40', onchange='updateSlider(this.value, this)',oninput='updateSlider(this.value, this)')
          li.dropdown-item.d-flex.justify-content-end
            span.text-white
              strong MUSIC
            if play
              input#musVol.ml-3.slider(type='range', min='0', max='50', step='0.5', value='50', onchange='updateSlider(this.value, this)', oninput='updateSlider(this.value, this)')
            else
              input#musVol.ml-3.slider(type='range', min='0', max='50', step='0.5', value='0', onchange='updateSlider(this.value, this)', oninput='updateSlider(this.value, this)')
      a.navbar-brand(href='https://arma3.com/', target='_blank')
        img(src='img/social/a3logo.png')
