nav.navbar.navbar-expand-sm.navbar-dark.fixed-top.container.p-0
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse.text-uppercase.d-flex
    block links
    .d-inline-flex.ml-auto
      .dropdown.align-self-center
        img#volumeControl.img.mr-4.dropdown-toggle(src='/img/icons/vol3.svg' height='25' onclick="toggleSound()")
      a.navbar-brand(href='https://arma3.com/', target='_blank')
        img(src='/img/social/a3logo.png')
