#operations.bg-inverse.text-white.py-1.mt-0.pl-3.pl-lg-5
  h1.headline Operations
#operations-cards
  .px-3.px-lg-5.mt-4.border-bottom-0
    h4 Schedule:
    p(style='margin: 0')
      | All of our operations begin at 
      strong 7:15PM
      |  and normally last until 
      strong 10:00PM
      |  (
      a#time.time-pop.text-inverse(href='#operations', role='button') British Time
      | )
    p
      | Our operation days are the followings: 
      strong Mondays
      | , 
      strong Wednesdays
      | , 
      strong Saturdays
      |  and 
      strong Sundays
      | .
  hr
  .px-3.px-lg-5.mt-4
    h5 Here you can see the current status of our activities:
    p (You can click on the images to learn more about the campaign)
  .px-lg-5.px-3.mt-4
    .card-group
      .card.col-md-4.px-0
        a(data-toggle='collapse', href='#predeployment', aria-expanded='false')
          img.card-img-top.img-fluid.d-block(src='img/thumbnails/scotland.jpg', alt='Card image cap')
        .card-block
          h4.card-title Pre-Deployment
          #predeployment.collapse
            small.text-muted Between campaigns
            p.card-text.text-justify
              | The unit undergoes periods of intensive training to perfect and fine-tune its elements. Commandos trained in the Scottish Highlands before being deployed in any of their major campaigns.
        .card-footer
          small.badge.badge-success COMPLETED
      .card.col-md-4.px-0
        a(data-toggle='collapse', href='#poland', aria-expanded='false')
          img.card-img-top.img-fluid(src='img/thumbnails/poland.jpg', alt='Card image cap')
        .card-block
          h4.card-title Polish Campaign
          #poland.collapse
            small.text-muted 1st September — 6th October 1939
            p.card-text.text-justify
              | Nazi Germany invaded Poland in late '39. British Commandos were deployed in Poland to lay groundwork for the greater British Expeditionary Force to step in. The BEF never got there: the opening of a second, opposite front by the Soviets caused the Commandos evaucation and Poland's surrender.
        .card-footer
          small.badge.badge-success COMPLETED
      .card.col-md-4.px-0
        a(data-toggle='collapse', href='#finland', aria-expanded='false')
          img.card-img-top.img-fluid(src='img/thumbnails/finland.jpg', alt='Card image cap')
        .card-block
          h4.card-title Finnish Campaign
          #finland.collapse
            small.text-muted 30th November 1939 — 13th March 1940
            p.card-text.text-justify
              | When the Soviets invaded Finland in the late '40, the British Commandos were immediately dispatched to help the Finnish Troops. By the time a bigger Franco-British force could be deployed the war was already over: the Soviets had won but that came at a price of heavy casualties.
        .card-footer
          small.badge.badge-success COMPLETED
  .px-lg-5.px-3.mt-4
    .card-group
      .card.col-md-4.px-0
        a(data-toggle='collapse', href='#norway', aria-expanded='false')
          img.card-img-top.img-fluid(src='img/thumbnails/norway.jpg', alt='Card image cap')
        .card-block
          h4.card-title Norwegian Campaign
          #norway.collapse
            small.text-muted 9th April — 10th June 1940
            p.card-text.text-justify
              | British and French forces came to Norway's aid with an expeditionary force in early April. Despite the successes of the Commandos in the northern regions, German forces eventually took over the country in 62 days. Once again the German Army had proved their strength and ruthlessness.
        .card-footer
          small.badge.badge-success COMPLETED
      .card.col-md-4.px-0
        a(data-toggle='collapse', href='#france', aria-expanded='false')
          img.card-img-top.img-fluid(src='img/thumbnails/france.jpg', alt='Card image cap')
        .card-block
          h4.card-title Invasion of France
          #france.collapse
            small.text-muted 10th May — 25th June 1940
            p.card-text.text-justify
              | Allies were all caught by surprise when the German Army unexpectedly pushed through and conquered the Netherlands, Luxemburg and Belgium and attacked the French front on their less covered side. The BEF fought bravely through the Ardennes but was forced to retreat to Dunkirk and leave the mainland.
        .card-footer
          small.badge.badge-success COMPLETED
      .card.col-md-4.px-0
        a(data-toggle='collapse', href='#africa', aria-expanded='false')
          img.card-img-top.img-fluid(src='img/thumbnails/africa.jpg', alt='Card image cap')
        .card-block
          h4.card-title Libyan Desert Campaign
          #africa.collapse
            small.text-muted 10th June 1940 — 13th May 1943
            p.card-text.text-justify
              | The Italians sided with Germany and declared war on the Allies, a few days later the British Army was already crossing the border from Egypt into Lybia, where Italy had its colonial interests. It was the start of a series of brutal fights, before the formidable 
              strong Deutsches Afrika Korps
              |  stepped in, led by Erwin Rommel, known as 
              em "The Desert Fox"
              | .
        .card-footer
          small.badge.badge-warning ONGOING
  .px-lg-5.px-3.mt-4
    .card-group
      .card.col-md-4.px-0
        a(data-toggle='collapse', href='#italy', aria-expanded='false')
          img.card-img-top.img-fluid(src='img/thumbnails/italy.jpg', alt='Card image cap')
        .card-block
          h4.card-title Italian Campaign
          #italy.collapse
            small.text-muted 10th July 1943 — 2nd May 1945
            p.card-text.text-justify
              | Starting with the invasion of Sicily, the Italian campaign was carried out by the Allied coalition and led to the arrest of Benito Mussolini, known as 
              em "Il Duce"
              |  or 
              em "Dux"
              |  and Italy's surrender. The Axis lost a valuable ally in the war but it still wasn't giving up on the buffer ground that Italy represented, hence the German occupation of Italy began.
        .card-footer
          small.badge.badge-primary PLANNED
      .card.col-md-4.px-0
        a(data-toggle='collapse', href='#western', aria-expanded='false')
          img.card-img-top.img-fluid(src='img/thumbnails/western.jpg', alt='Card image cap')
        .card-block
          h4.card-title Western Europe Campaign
          #western.collapse
            small.text-muted 6 June 1944 — 8 May 1945
            p.card-text.text-justify
              | The second part of the Western Campaign takes place years after the capitulation of France and sees the Allies making their comeback. Starting off from the Normandy's landings, back through France, Belgium, the Netherlands and all the way to Berlin where the German Army prepared its last stand.
        .card-footer
          small.badge.badge-danger TO BE ANNOUNCED
      .card.col-md-4.px-0
        a(data-toggle='collapse', href='#eastern', aria-expanded='false')
          img.card-img-top.img-fluid(src='img/thumbnails/eastern.jpg', alt='Card image cap')
        .card-block
          h4.card-title Eastern Europe Campaign
          #eastern.collapse
            small.text-muted 22nd June 1941 — 9th May 1945
            p.card-text.text-justify
              | The Eastern Front was active throughout most of the war. The UK took initially part to the fight only in the form of Lend-Lease programmes but later decided to secretly send the Commandos to turn the tides in the Soviets' favor.
        .card-footer
          small.badge.badge-danger TO BE ANNOUNCED
