#partners.bg-dark.text-white.py-1.pl-3.pl-lg-5
  h1.header You
    span(style='color:red') Tube
#partners-text.about-text.mb-5.mt-3.py-0.px-3.px-lg-5
  p.lead Here below you can find YouTube channels that featured our unit in their videos:
  .d-flex.justify-content-around.mt-5.text-center
    span.align-self-center.light-header
      a(href="https://www.youtube.com/user/HydefinitionDesign/videos" target='_blank')
        img.rounded-circle.mb-3(src='img/social/hyde.jpg' width='50' height='50')
        br
        | HYDEFINITION 
    h5.align-self-center.light-header
      a(href="https://www.youtube.com/channel/UChBEw9d7QIjAA-j8nqVwh6w/videos" target='_blank')
        img.rounded-circle.mb-3(src='img/social/kav.jpg' width='60' height='60')
        br
        | SLAKKS 
    h4.align-self-center.light-header
      a(href="https://www.youtube.com/user/TheGameGuards/featured" target='_blank')
        img.rounded-circle.mb-3(src='img/social/shermanator.jpg' width='75' height='75')
        br
        | SHERMANATOR 
    h5.align-self-center.light-header
      a(href="https://www.youtube.com/user/cikuciic/videos" target='_blank')
        img.rounded-circle.mb-3(src='img/social/tsunami.jpg' width='60' height='60')
        br
        | TSUNAMI   
    span.align-self-center.light-header
      a(href="https://www.youtube.com/user/hiddenknowledge2012/videos" target='_blank')
        img.rounded-circle.mb-3(src='img/social/stocks.jpg' width='50' height='50')
        br
        | SWURVIN   
  hr.bg-dark
  p.lead.mt-2 And here's some of our most favorite videos:
  .row.mb-3
    .col-6
      iframe.rounded.text-center(width='500', height='270', src='https://www.youtube.com/embed/oC6nHjg4srw', frameborder='1', allowfullscreen='')
    .col-6
      iframe.rounded(width='500', height='270', src='https://www.youtube.com/embed/w1LURFCL9j8', frameborder='1', allowfullscreen='')
  .row.mb-3
    .col-6
      iframe.rounded.text-center(width='500', height='270', src='https://www.youtube.com/embed/Qc9_-S9C8Pk', frameborder='1', allowfullscreen='')
    .col-6
      iframe.rounded(width='500', height='270', src='https://www.youtube.com/embed/znKqethUNCw', frameborder='1', allowfullscreen='')
  .row.mb-3
    .col-6
      iframe.rounded.text-center(width='500', height='270', src='https://www.youtube.com/embed/GuvjeDnOB1E', frameborder='1', allowfullscreen='')
    .col-6
      iframe.rounded(width='500', height='270', src='https://www.youtube.com/embed/j2vuVniHX98', frameborder='1', allowfullscreen='')
