.bg-inverse.text-white.py-1.pl-3.pl-lg-5
  h1.header Screenshots
.about-text.mb-5.mt-3.py-0.px-3.px-lg-5
  p.lead Here you can find some of our best screenshots:
.row.justify-content-between
  .col-4
    img(src="#", alt="alt")
  .col-4
    img(src="#", alt="alt")
  .col-4
    img(src="#", alt="alt")
