#contributors.bg-inverse.text-white.py-1.pl-3.pl-lg-5
  h1.header Thank you
#contributors-text.about-text.mb-5.pt-3.pb-0.px-3.px-lg-5
  .alert.alert-success
    strong Awesome! 
    | Your donation was successfully transferred to the No.4 Commando account.
  p.lead 
    strong You just contributed to the unit's war savings. 
  p.lead
    | We really appreciate your donation, it helps us afford the costs of our infrastructure.
  p
    | Developers, creators and leaders of the unit do their jobs for free to grant you the best possible experience. On behalf of all the 
    strong No.4 CDO  
    | staff, the senior admins thank you for your kind donation and we wish you a happy stay with our community. 
    
  small
    strong
      | Don't forget to jump in TS and notify an admin to get your donator tag!
