.container.px-0
  #home.jumbotron.jumbotron-fluid.text-white.cdo-color.mb-0
    .col.align-self-center.text-center
      h1.display-1.headline.mb-0.px-3.hidden-xs-down
        | No.
        span(style='color: #a90000') 4
        |  Commando
      h1.display-3.headline.mb-0.px-1.hidden-sm-up
        | No.
        span(style='color: #a90000') 4
        |  Commando
      p.lead.mt-0 British WW2 Relaxed Milsim Unit
      a.btn.btn-outline-danger.btn-md(href='https://www.youtube.com/watch?v=ORIHGY-uucY', onclick='pauseSong()', target='_blank') Unit Trailer
