#home.jumbotron.jumbotron-fluid.text-white.cdo-color.mb-0.d-flex.justify-content-center
  .align-self-center.text-center.justify-content-center.p-0
    h1.display-1.headline.mb-0.px-3
      | No.4
      span(style='color: #cc1111') #{space} Commando
    p.mt-0.light-header WW2 Milsim Infantry-focused Unit
    a.btn.btn-outline-danger.btn-md.light-header(href='https://www.youtube.com/watch?v=ORIHGY-uucY', onclick='pauseSong()', target='_blank') 
      small(style='font-weight: 300; letter-spacing: 2px; padding: 5px 10px')
       strong WATCH THE TRAILER
