extends layout

block content
  include ./includes/components/outerLinks
  .text-center.my-5
    h2.display-4
      strong #{error.status}
      | : #{message}
    span.lead
      strong Oh snap!
      | It looks like the Jerries managed to sabotage this website! Report to your closest CO.
