extends layout

block content
  include ./includes/components/indexLinks
  audio#player(autoplay='', onloadeddata='setHalfVolume()')
    source(src='music/we_ll_meet_again.mp3', type='audio/mp3')
  include ./includes/about
  include ./includes/join
