extends layout

block content
  audio#player(autoplay='', onloadeddata='setHalfVolume()')
    source(src='music/we_ll_meet_again.mp3', type='audio/mp3')
  .background-image
  .container.px-0  
    include ./includes/title
    include ./includes/about
    include ./includes/operations
    include ./includes/arsenal
    include ./includes/join
    include ./includes/donations
