doctype html
html
  include ./includes/head
  body.p-0.m-0
    #bgVideo
    .animsition
      .container.px-0
        include ./includes/title
        block content
        include ./includes/footer
    include ./includes/scripts
