doctype html
html
  include ./includes/head
  body.p-0(data-spy='scroll', data-target='#navbarNav', data-offset='60')
    .background-image
    .container.px-0  
      include ./includes/title
      block content
      include ./includes/footer
        
    include ./includes/scripts
