doctype html
html
  include ./includes/head
  audio#player
    source(src='music/we_ll_meet_again.mp3', type='audio/mp3')
  script.
    document.getElementById('player').volume = 0.01;
  body.p-0.m-0
    #bgVideo
    .animsition
      .container.px-0
        include ./includes/title
        block content
        include ./includes/footer
    include ./includes/scripts
