extends layout

block content
  include ./includes/components/outerLinks
  .container-fluid.p-4.px-5
    h1.text-center.light-header.text-uppercase.py-2(style='border:none; font-size: 3.5em') Thank you!
    p.text-center.lead(style='font-size: 1.5em')
      | Donations are the blood of our unit and vital to the sustainment of what we do best: 
      strong entertain people. 
      br 
      | This would not be possible without some sacrifice and we appreciate your support.
      br 
      br
    p.text-center.lead(style='font-size: 2em') On behalf of the No.4 Commando unit we would like to thank you for your donation. 
