extends layout

block content
  include ./includes/components/outerLinks
  audio#player(onloadeddata='setHalfVolume()')
    source(src='music/we_ll_meet_again.mp3', type='audio/mp3')
  include ./includes/partners
  
