extends ../navbar

block links
  ul.navbar-nav
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/") Home
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/unit") Unit
    li.nav-item
      a.nav-link.navFont(href="/structure") Structure
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/public") Public
    li.nav-item.active
      a.nav-link.navFont.animsition-link(href="#") 
        strong Donate
        span.sr-only (current)
      
