form.d-flex.justify-content-center(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
  input(type='hidden', name='cmd', value='_s-xclick')
  input(type='hidden', name='hosted_button_id', value='9UE7AWFQBL3CW')
  input(type='image', src='img/paypal.png', width='200', height='100')
