extends ../navbar

block links
  ul.navbar-nav.mr-5.mt-2.mt-md-0
    li.nav-item
      a.nav-link(href='#home')
        | Home 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href='#about') About
    li.nav-item
      a.nav-link(href='#join') Join
  ul.navbar-nav.mr-5.mt-2.mt-md-0
    li.nav-item
      a.nav-link(href='/unit') Operations
    li.nav-item
      a.nav-link(href='/unit#arsenal-hd') Arsenal
    li.nav-item
      a.nav-link(href='/unit#structure') Structure
    li.nav-item
      a.nav-link(href='/unit#donation') Donate
  ul.navbar-nav.mr-auto.mt-2.mt-md-0
    li.nav-item
      a.nav-link(href='/unit#media') Media
