extends ../navbar

block links
  ul.navbar-nav.mr-3.mt-2.mt-md-0
    li.nav-item
      a.nav-link.navFont(href='#home')
        strong(style='color: #fff') Home 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href='#about') About us
    li.nav-item
      a.nav-link(href='#join') Join
  ul.navbar-nav.mr-3.mt-2.mt-md-0
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle.navFont(href="#" data-toggle="dropdown" aria-expanded="false") 
        strong Unit
      ul.dropdown-menu
        li.nav-item
          a.dropdown-item.animsition-link(href='/unit#operations') Operations
        li.nav-item
          a.dropdown-item.animsition-link(href='/unit#structure') Structure
        li.nav-item
          a.dropdown-item.animsition-link(href='/unit#arsenal-hd') Arsenal
        li.nav-item
          a.dropdown-item.animsition-link(href='/unit#rewards') Awards
  ul.navbar-nav.mr-auto.mt-2.mt-md-0
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle.navFont(href="#" data-toggle="dropdown" aria-expanded="false") 
        strong Public
      ul.dropdown-menu
        li.nav-item
          a.dropdown-item.animsition-link(href='/public') Server
        li.nav-item
          a.dropdown-item.animsition-link(href='/public#media') Media
        li.nav-item
          a.dropdown-item.animsition-link(href='/public#donation') Donate
