extends ../navbar

block links
  ul.navbar-nav.mr-5.mt-2.mt-md-0
    li.nav-item
      a.nav-link(href='/') Home 
    li.nav-item
      a.nav-link(href='/#about') About
    li.nav-item
      a.nav-link(href='/#join') Join
  ul.navbar-nav.mr-5.mt-2.mt-md-0
    li.nav-item
      a.nav-link.animsition-link(href='/unit') Operations
    li.nav-item
      a.nav-link.animsition-link(href='/unit#structure') Structure
    li.nav-item
      a.nav-link.animsition-link(href='/unit#arsenal-hd') Arsenal
  ul.navbar-nav.mr-auto.mt-2.mt-md-0
    li.nav-item
      a.nav-link.animsition-link(href='/public') Server
    li.nav-item
      a.nav-link.animsition-link(href='/public#media') Media
    li.nav-item
      a.nav-link.animsition-link(href='/public#donation') Donate
