extends ../navbar

block links
  ul.navbar-nav.mr-3.mt-2.mt-md-0
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/") 
        strong Home
      //- ul.dropdown-menu
        li.nav-item
          a.dropdown-item.animsition-link(href='/#about') About Us
        li.nav-item
          a.dropdown-item.animsition-link(href='/#join') Join
    //- ul.navbar-nav.mr-3.mt-2.mt-md-0
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/unit") 
        strong Unit
        //- ul.dropdown-menu
          li.nav-item
            a.dropdown-item.animsition-link(href='/unit#operations') Operations
          li.nav-item
            a.dropdown-item.animsition-link(href='/unit#arsenal-hd') Arsenal
          li.nav-item
            a.dropdown-item.animsition-link(href='/unit#rewards') Awards
    //- ul.navbar-nav.mr-auto.mt-2.mt-md-0
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/structure") 
        strong Structure    
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/public") 
        strong Public
        //- ul.dropdown-menu
          li.nav-item
            a.dropdown-item.animsition-link(href='/public') Server
          li.nav-item
            a.dropdown-item.animsition-link(href='/public#media') Media
          li.nav-item
            a.dropdown-item.animsition-link(href='/public#donation') Donate
