extends ../navbar

block links
  ul.navbar-nav
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/") Home
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/unitinfo") Unit
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/structure") Structure
    li.nav-item.active
      a.nav-link.navFont(href='#')
        strong(style='color: #fff') Public
        span.sr-only (current)
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/donations") Donate
