extends ../navbar

block links
  ul.navbar-nav.mr-3.mt-2.mt-md-0
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/") Home
    li.nav-item.active
      a.nav-link.navFont.animsition-link(href='#') Unit
        span.sr-only (current)
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/structure") Structure    
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/public") Public
    li.nav-item
      a.nav-link.navFont.animsition-link(href="/donations") Donate
      
